# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


# Added to vhosts/dev_wp_sandbox.conf
# php_value memory_limit 96M
# php_value upload_max_filesize 64M
# php_value post_max_size 64M
# php_value max_execution_time 300
# php_value max_input_time 300
# php_value max_input_vars 4000

# Added to wp-config.php
# define( 'WP_MEMORY_LIMIT', '96M' );